<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Link Esxterno -->
    <link rel="stylesheet" href="./statics/css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

      <!-- Script de Fontawesome Iconos-->
   <script src="https://kit.fontawesome.com/86dbb3fae5.js" crossorigin="anonymous"></script>

    <title>Recetas de Familia</title>

</head>

<body>
    <header>
        <nav>
            <!-- Navegación Menu -->
            <div>
                <i class="fa-solid fa-kitchen-set"></i>
                <a class="nav" class="nav" href="/"><span>Home<span></a>
                <a class="nav" href="./location.html"><span>Sucursales</span></a>
                <a class="nav" href="./register.html"><span>Registrese</span></a>
                <a class="nav" href="./cocina.html"><span>Cocina</span></a>
                <a class="nav" href="./disco.html"><span>Disco</span></a>
                <a class="nav" href="./parrilla.html"><span>Parrilla</span></a>
            </div>
        </nav>
        <h1 class="titulo">Recetas de Famila </h1>

    </header>
    <main>
        <div id="Cocina">

            <h1>Recetas para la cocina</h1>
            <h2>CHIPA by Sosa</h2>
            <img src="" alt="Chipa" width="180" height="180">
            <br><br>

            <div id="ingredientes">
                <!-- Tabla de Ingredientes -->
                <table>
                    <tr>
                        <th colspan="2" class="titulo-tabla">Ingredientes</th>
                    </tr>

                    <tr>
                        <td><strong>Cant.</strong></td>
                        <td><strong>Producto</strong></td>
                    </tr>

                    <tr>
                        <td>1kg</td>
                        <td>Fécula de mandioca</td>
                    </tr>

                    <tr>
                        <td>400 gr</td>
                        <td>Queso Sardo</td>
                    </tr>

                    <tr>
                        <td>400 gr</td>
                        <td>Queso Mar del Plata / Holanda</td>
                    </tr>

                    <tr>
                        <td>200 gr</td>
                        <td>Manteca</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Aceite</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Leche</td>
                    </tr>
             
                </table>
            </div>

            <!-- Lista de condimentos -->
            <div>
                <h3>Condimentos</h3>
                <ul>
                    <li>Sal.</li>
                </ul>
            </div>

            <div>
                <p><strong>Preparación:</strong> El disco debe estar bien caliente. Agregar un chorro de aceite
                    desde afuera del disco hacia adentro.Dorar las piezas de pollo, aproximadamente 5 minutos de
                    cada lado. Sacarlas y reservarlas a un costado. Tiren el aceite que les quedó de más en el
                    disco.Pelar y cortar chiquito la cebolla y los dientes de ajo. La zanahoria en rodajas al igual
                    que el puerro y la cebolla de verdeo. Poner las verduras en el disco y saltear por 5
                    minutos.Agregar el vino blanco y la pimienta y lo dejamos reducir.Cuando evaporó el alcohol (te
                    vas a dar cuenta porque no larga olor a alcohol etílico) le agregamos una taza del caldo y
                    remuevan. Sumamos el pollo que teníamos a un costado y cocinamos unos 10 minutos más o hasta que
                    las zanahorias estén medianamente tiernas..Condimentamos el pollo al disco con el ají, el
                    pimentón, el orégano y la sal 5 minutos antes de que termine la cocción.</p>
            </div>

        </div>

    </main>

    <!-- Pie -->
    <footer class="footer">
        <a class="footer" href="">Términos y condiciones</a><br>
        <a class="footer" href="">Preguntas frecuentes</a><br>
        <a class="footer" href="">Ayuda</a>
    </footer>

</body>

</html>