<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Link Esxterno -->
    <link rel="stylesheet" href="./statics/css/style.css">

    <title>Recetas de Familia</title>

</head>

<body>
    <header>
        <nav>
            <!-- Navegación Menu -->
            <br>
            <div>
                <a class="nav" class="nav" href="/"><span>Home<span></a>
                <a class="nav" href="./location.html"><span>Sucursales</span></a>
                <a class="nav" href="./register.html"><span>Registrese</span></a>
                <a class="nav" href="./cocina.html"><span>Cocina</span></a>
                <a class="nav" href="./disco.html"><span>Disco</span></a>
                <a class="nav" href="./parrilla.html"><span>Parrilla</span></a>
            </div>
            <br>
        </nav>
        <h1 class="titulo"><strong>Recetas de Famila </strong></h1>
    </header>
    <main>
        <div id="disco">
            <h1>Recetas al Disco</h1>
            <h2>Pollo al disco</h2>
            <img src="./statics/image/pollo_disco.jpg" alt="Pollo al disco" width="180" height="180">
            <br><br>

            <div id="ingredientes">
                <!-- Tabla de Ingredientes -->
                <table>
                    <tr>
                        <th colspan="2" class="titulo-tabla">Ingredientes</th>
                    </tr>

                    <tr>
                        <td><strong>Cant.</strong></td>
                        <td><strong>Producto</strong></td>
                    </tr>

                    <tr>
                        <td>2kg</td>
                        <td>Pollo</td>
                    </tr>

                    <tr>
                        <td>1/2 taza</td>
                        <td>Aciete</td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>Zanahorias</td>
                    </tr>

                    <tr>
                        <td>2kg</td>
                        <td>Papa</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Cebolla Blanca</td>
                    </tr>


                    <tr>
                        <td>2</td>
                        <td>Cebolla Verdeo</td>
                    </tr>


                    <tr>
                        <td>1</td>
                        <td>Puerro</td>
                    </tr>


                    <tr>
                        <td>4</td>
                        <td>Dientes de Ajo</td>
                    </tr>


                    <tr>
                        <td>3 tazas</td>
                        <td>Caldo</td>
                    </tr>


                    <tr>
                        <td>1lt</td>
                        <td>Vino Blanco</td>
                    </tr>
                </table>
            </div>

            <!-- Lista de condimentos -->
            <div>
                <h3>Condimentos</h3>
                <ul>
                    <li>Sal.</li>
                    <li>Pimienta en granos.</li>
                    <li>Aji Molido.</li>
                    <li>Oregano.</li>
                </ul>
            </div>

            <div>
                <p><strong>Preparación:</strong> El disco debe estar bien caliente. Agregar un chorro de aceite
                    desde afuera del disco hacia adentro.Dorar las piezas de pollo, aproximadamente 5 minutos de
                    cada lado. Sacarlas y reservarlas a un costado. Tiren el aceite que les quedó de más en el
                    disco.Pelar y cortar chiquito la cebolla y los dientes de ajo. La zanahoria en rodajas al igual
                    que el puerro y la cebolla de verdeo. Poner las verduras en el disco y saltear por 5
                    minutos.Agregar el vino blanco y la pimienta y lo dejamos reducir.Cuando evaporó el alcohol (te
                    vas a dar cuenta porque no larga olor a alcohol etílico) le agregamos una taza del caldo y
                    remuevan. Sumamos el pollo que teníamos a un costado y cocinamos unos 10 minutos más o hasta que
                    las zanahorias estén medianamente tiernas..Condimentamos el pollo al disco con el ají, el
                    pimentón, el orégano y la sal 5 minutos antes de que termine la cocción.</p>
            </div>

            <h2>Bondiola a la cerveza</h2>

            <!-- Lista de ingredientes -->
            <div id="ingredientes">
                <table>
                    <tr>
                        <th colspan="2" class="titulo-tabla"> Ingedientes</th>
                    </tr>

                    <tr>
                        <td><strong>Cant.</strong></td>
                        <td><strong>Producto</strong></td>
                    </tr>

                    <tr>
                        <td>2kg</td>
                        <td>Bondiola</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Cebollas Blanca</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Cebollas de Verdeo</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Morrón Verde</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Morrón Rojo</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Morrón Amarillo</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Cremas 360cc</td>
                    </tr>

                    <tr>
                        <td>1lt</td>
                        <td>Cerveza Negra</td>
                    </tr>
                </table>
            </div>

            <!-- Lista de condimentos -->
            <div>
                <h3>Condimentos</h3>
                <ul>
                    <li>Sal.</li>
                    <li>Pimienta en granos.</li>
                    <li>Aji Molido.</li>
                    <li>Pimentón</li>
                </ul>
            </div>

            <div>
                <p><strong>Preparación:</strong> El disco debe estar bien caliente. Agregar un chorro de aceite
                    desde afuera del disco hacia adentro. Sellamos la bondiola de ambos lados y retiramos.
                    Aprovechamos la grasa que largó la bondiola, tiramos un chorrito de aceite, y agregamos los
                    vegetales.Una vez que los vegetales estén blanditos, volvemos a agregar la bondiola. Agregamos
                    las latas de cerveza y el verdeo. Tapamos y dejamos que se consuma un poco. Cada tanto
                    revolvemos para que no se pegue. Dejamos cocinar 1 Hs / 1 Hs 30 minutos más sin dejar de
                    revolver cada tanto.</p>
            </div>

        </div>
        <div id="cocina"></div>

        </div>
    </main>

    <br>
    <br>
    <br>

    <!-- Pie -->
    <footer class="footer">
        <a class="footer" href="">Términos y condiciones</a><br>
        <a class="footer" href="">Preguntas frecuentes</a><br>
        <a class="footer" href="">Ayuda</a>
    </footer>


</body>

</html>