<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css Link Esxterno -->
    <link rel="stylesheet" href="./statics/css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

      <!-- Script de Fontawesome Iconos-->
   <script src="https://kit.fontawesome.com/86dbb3fae5.js" crossorigin="anonymous"></script>

    <title>Recetas de Familia</title>


</head>

<body>
    <header>
        <nav>
            <!-- Navegación Menu -->
            <br>
            <div>
                <i class="fa-solid fa-kitchen-set"></i>
                <a class="nav" class="nav" href="/"><span>Home<span></a>
                <a class="nav" href="./location.html"><span>Sucursales</span></a>
                <a class="nav" href="./register.html"><span>Registrese</span></a>
                <a class="nav" href="./cocina.html"><span>Cocina</span></a>
                <a class="nav" href="./disco.html"><span>Disco</span></a>
                <a class="nav" href="./parrilla.html"><span>Parrilla</span></a>
            </div>
            <br>
        </nav>
        <h1 class="titulo">Recetas de Famila </h1>


    </header>

    <main>
        <h2>Sucursales</h2>
        <p>Lanus Oeste: <a href="https://maps.app.goo.gl/xFqpnoEc2L3swR178" target="_blank">Av. Hipólito Yrigoyen
                3732.</a></p>

        <iframe class="map-container"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26242.07417282376!2d-58.42793762683867!3d-34.69863993742783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcccdf9faa2d93%3A0xc35b9fd1dbdca3a3!2sYPF!5e0!3m2!1ses!2sar!4v1710420435197!5m2!1ses!2sar"
             style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>


        <p>Lanus Este: <a href="https://maps.app.goo.gl/8BpvUq3FZScXuj6N8" target="_blank">Hector Guidi 2007, B1825
                Lanús</a></p>

        <iframe class="map-container"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26236.017247994372!2d-58.4085275!3d-34.7177348!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccd380d5a7b75%3A0xf1f4d8857d3edccb!2zQ2x1YiBBdGzDqXRpY28gTGFuw7pz!5e0!3m2!1ses!2sar!4v1710420582252!5m2!1ses!2sar"
          ></iframe>
    </main>

    <br>

    <!-- Pie -->
    <footer class="footer">
        <a class="footer">Términos y condiciones</a><br>
        <a class="footer">Preguntas frecuentes</a><br>
        <a class="footer">Ayuda</a>

    </footer>

</body>

</html>