<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Css Link Esxterno -->
    <link rel="stylesheet" href="./statics/css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

      <!-- Script de Fontawesome Iconos-->
   <script src="https://kit.fontawesome.com/86dbb3fae5.js" crossorigin="anonymous"></script>


    <title>Recetas de Familia</title>
    
</head>

<body>
    <header>
        <nav>
            <!-- Navegación Menu -->
            <div>
                <i class="fa-solid fa-kitchen-set"></i>
                <a class="nav" class="nav" href="/"><span>Home<span></a>
                <a class="nav" href="./location.html"><span>Sucursales</span></a>
                <a class="nav" href="./register.html"><span>Registrese</span></a>
                <a class="nav" href="./cocina.html"><span>Cocina</span></a>
                <a class="nav" href="./disco.html"><span>Disco</span></a>
                <a class="nav" href="./parrilla.html"><span>Parrilla</span></a>
            </div>
        </nav>
        <h1 class="titulo">Recetas de Famila </h1>


    </header>
    <main>
        <div id="parrilla">
        </div>
            
    </main>

  <!-- Pie -->
  <footer class="footer">
    <a class="footer" href="">Términos y condiciones</a><br>
    <a class="footer" href="">Preguntas frecuentes</a><br>
    <a class="footer" href="">Ayuda</a>
</footer>

</body>

</html>