/* Definicion de Variables */


:root {
    --bg-color: #363a6e89;
    /* Color de fondo */
    --primary-color: #9f3647;
    --secondary-color: #ffc098;
    --third-color: #db4648;
    --third-bis-color: #db4648f2;
    --bg-input-color: #4f31572c;
}

/* Selector Universal */


/* Estilo por etiqueta */

body {
    background-color: var(--bg-color);
    /* Cambia este valor al color deseado */
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

table,
th,
td {
    border: solid rgb(17, 14, 14);
    text-align: center;
}

h1 {
    text-align: center;
}

header {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    /* Elimina el subrayado predeterminado del enlace */
}

/* Selector de clase - Se puede reutilizar */

.nav {
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-size: 1vw;
}

.coccion {
    color: green;
    margin-top: 20px;
    /* Google font */
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: start;
}

.titulo {
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    color: #462f2f;
    background-color: rgb(116, 112, 112);
}

.titulo-tabla {

    font-size: 20px;
}

.receta {
    text-align: justify;
    margin: auto;
    width: 70%;
}

/* Estilo para hacer el iframe del mapa responsivo */
.map-container {
    width: 30vw;
    /* Hacer el iframe responsivo */
    margin-bottom: 30px;
    /* Espacio entre los mapas */
    border: 0;
    border-radius: 10px;
}


.footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 1vw;
}


/* Selector de ID - Similar se aplica una sola vez */


/* Estilo barra de Busqueda */